.forgot-password-link {
	color: dodgerblue;
	margin: 10px 0;
	font-size: 0.9rem;
}

.redirect-link {
	margin: 10px 0;
	font-size: 0.9rem;
	text-align: center;
	a {
		color: dodgerblue;
		text-decoration: none;
		background: none;
	}
}
