@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
	li {
		a {
			text-decoration: none;
			color: black;
		}
		button {
			border: none;
			outline: 1px solid var(--primary-color);
			color: var(--primary-color);
			padding: 0.5rem 1rem;
			background: none;
		}
	}
}

.App {
	display: flex;
	.container {
		flex-grow: 1;
		padding: 0 60px;
	}
}
