@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
	--heading-color: #444;
	--text-color: #999;
	--primary-color: #8d69f1;
	--highlight-color: #d13267;
	--bg-color: #f4f4f4;
}


