.user-list {
	box-sizing: border-box;
	margin-top: 10px;

	.user-label {
		display: flex;
		align-items: center;
		gap: 0.3rem;
		padding: 0 10px;
		p {
			font-size: 1rem;
		}
		.icon {
			font-size: 1.2rem;
		}
	}

	.user-list-item {
		display: flex;
		padding: 0 10px;

		align-items: center;
		margin: 10px 0;
	}
	.avatar {
		width: 25px;
		height: 25px;
		margin-right: 10px;
	}
	// online users
	.online-user {
		display: inline-block;
		margin-left: 10px;
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #0ebb50;
		margin-top: 2px;
	}
}
