.navbar {
	display: flex;
	align-items: center;
	height: 65px;
	background-color: #1a73e8;
	color: white;
	padding: 0 2rem;
	position: sticky;
	top: 0;
	ul {
		display: flex;
		width: 100%;
		align-items: center;
		height: 100%;
		.logo {
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		.auth-links {
			margin-left: auto;
			display: flex;
			gap: 1rem;
			align-items: center;
		}
		.logout-btn {
			color: white;
			border: 1px solid white;
			outline: none;
			cursor: pointer;
			border-radius: 4px;
			&:hover {
				background-color: white;
				color: #1a73e8;
			}
		}
	}
}
