@import '../../styles/mixins.scss';

.sidebar,
.shrink-sidebar {
	min-height: 100vh;
	width: 280px;
	min-width: 280px;
	position: relative;
	transition: all 100ms ease-in-out;
	border-right: 1px solid lightgray;
	@include phone() {
		display: none;
	}
	.hide {
		opacity: 0;
		transition: all 100ms ease-in-out;
	}
	.sidebar-content {
		position: fixed;
		width: inherit;
	}
	.user {
		font-weight: bold;
		height: 50px;
		display: flex;
		border-right: 1px solid lightgray;
		padding: 10px;
		gap: 0.5rem;
		align-items: center;
		background-color: var(--heading-color);
		color: white;

		img {
			max-width: 25px;
			max-height: 25px;
		}
		.user-info {
			.user-name,
			.user-email {
				font-weight: lighter;
				transition: all 200ms ease-in-out;
				opacity: 1;
				font-size: 0.7rem;
			}
			.user-email {
				font-size: 0.6rem;
			}
		}
	}
	.links {
		border-bottom: 1px solid lightgray;
		ul {
			li {
				margin-top: 10px;
				span {
					display: flex;
					align-items: center;
					gap: 0.5rem;
					cursor: pointer;
					.icon {
						font-size: 1.3rem;
						cursor: pointer;
					}
				}
			}
			a {
				display: flex;
				padding: 10px;
				text-decoration: none;
				width: 100%;
				border-right: 1px solid lightgray;

				&:hover {
					border-right: 1px solid lightgray;
				}
			}
			a.active {
				background-color: #e5f4ff;
				border-right: 1px solid lightgray;
				color: black;
			}
		}
	}
	.expand {
		margin-left: 20px;
		padding: 10px;
		.icon {
			cursor: pointer;
		}
	}
}

.shrink-sidebar {
	width: 85px;
	min-width: 85px;
	transition: all 100ms ease-in-out;
	img {
		max-width: 25px;
		max-height: 25px;
	}
	.user-shrink {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 5px;
		height: 65px;
		border-bottom: 1px solid lightgray;
		.avatar {
			position: absolute;
		}
	}
}
